/* font */
@import url('../src/assets/fonts/fontiran.css');

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.hideScroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* center */
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxShadowCustom {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.maxLayout {
  max-width: 1300px;
}

.maxHeightCalculator {
  max-height: 600px;
}

.maxHeightWeblog {
  max-height: 600px;
}

.maxHeightCarousel{
  max-height: 350px;
}

.backgroundApp {
  background-image: url('./assets/images/home/AppInformation/ApplicationBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style Slider Swiper */
.swiper-wrapper div {
  width: 100% !important;
  height: 100% !important;
}

div.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

span.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 10px;
  background-color: white;
}

span.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.backgroundApp {
  background-image: url('./assets/images/home/AppInformation/ApplicationBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/***************** custom scroll *******************/
.customScrollbar::-webkit-scrollbar {
  width: 8px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: rgb(227, 227, 227);
}

.customScrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

/************** custom range ************************/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;
}

.slider::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: -6px;
  border-radius: 50%;
  background: url(../src/assets/images/home/calculator/range.svg);
  background-size: contain;
}

.slider::after {
  content: '';
  background: #d3d3d3;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -6px;
  right: 0;
  border-radius: 50%;
  background-size: contain;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(../src/assets/images/home/calculator/range.svg);
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(../src/assets/images/home/calculator/range.svg);
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}


.shape{
  shape-outside: inset(20px 10px 10px 10px);
  shape-margin: 2%;
}

.border-left-dashed {
  border-left:1px dashed #9D9FA2 ;
}