/* font */
@import url('../src/assets/fonts/fontiran.css');

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* center */
.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxLayout{
  max-width: 1300px;
}