/* font */
@import url('../src/assets/fonts/fontiran.css');

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.hideScroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* center */
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxShadowCustom {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.maxLayout {
  max-width: 1300px;
}

.maxHeightCalculator {
  max-height: 600px;
}

.maxHeightWeblog {
  max-height: 600px;
}

.swiper-wrapper div {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

span.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 10px;
  background-color: white;
}

span.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.backgroundApp {
  background-image: url('./assets/images/home/AppInformation/ApplicationBack.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/***************** custom scroll *******************/
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(227, 227, 227);
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}