/* font */
@import url('../src/assets/fonts/fontiran.css');

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* center */
.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxLayout{
  max-width: 1300px;
}

.swiper-wrapper div {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide{
  width: 100%;
  height: 100%;
}

.swiper{
  width: 100%;
  height: 100%;
}

span.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 10px;
  background-color: white;
}
span.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}